<h1>Welcome to the Blog</h1>
{{#if posts.length}}
    {{#each posts}}
        <div>
            <h2><a href="/post/{{this.id}}">{{this.title}}</a></h2>
            <p>Posted by {{this.user.username}} on {{this.createdAt}}</p>
        </div>
    {{/each}}
{{else}}
    <p>No posts yet!</p>
{{/if}}
